{:db {:maximum-pool-size 10
      :pool-name         "pg-pool"
      :adapter           "postgresql"
      :username          "postgres"
      :password          "secret"
      :database-name     "postgres"
      :server-name       #or [#env DB_HOST "localhost"]
      :port-number       #long #or [#env DB_PORT 5432]
      :registry          #ig/ref :registry}

 :handler {:db       #ig/ref :db
           :registry #ig/ref :registry}

 :server {:handler #ig/ref :handler
          :port    #long #or [#env PORT 3000]
          :join?   false}

 :migrations {:db                   #ig/ref :db
              :store                :database
              :migration-dir        "migrations/"
              :migration-table-name "migrations"}

 :registry {}}
